
/*--importing files--*/
@import "utilities/variables";
@import "base/icons";
@import "layouts/header";
@import "layouts/footer";
// @import "base/helper";
@import "base/resert";
@import "base/general";
@import "components/blue";
@import "components/overlap";
@import "components/about";
@import "components/values";
@import "components/behaviour";
@import "components/history";
@import "components/corporates";
@import "components/stand";
@import "components/mobile";
// @import "components/overlay";