footer {
    width: 100%;
    background-color: black;
    color:#fcfcfcfc;

    .footer-area {
        padding: 30px;
        display: grid;
        font-size: 15px;
        justify-content: space-between;
        // grid-template-columns: ;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));      

       .social-media li {
           display: inline-block;
           padding: 0 5px;
           font-size: 15px;
           vertical-align: middle;

           a {
            text-decoration: none;
            color: #fcfcfcfc;
           }
        //    width: 40%;
       }
    }

}

.col.middle {
padding: 10px; 

}




@media only screen and  (max-width:1500px) {

    footer {
        padding: 30px;
    }
}

@media only screen and  (max-width:1100px) {
  
    footer .footer-area .social-media li {
      padding: 0px 15px;
    }
    footer .footer-area .social-media li a .icon {
                font-size: 20px;

    }
    footer {
        padding:20px;
    }

    footer .footer-area {
        padding: 0px;
    }


}


@media only screen and (max-width: 900px) {  
    footer {
        padding: 10px;
    }

    footer .footer-area {
        grid-template-columns:repeat(auto-fit, minmax(243px, 1fr));
    }

}


@media only screen and (max-width: 760px) { 

    footer .footer-area {
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    }

    footer {
        padding:5px;
    }
    .col.middle {

        padding: 3px;
    }
    
    
    
}


@media only screen and (max-width: 590px) { 

        footer .footer-area {
      
            grid-template-columns: 1fr;

           }
           footer {
            width: 100%;
           } 
 

}

@media only screen and (max-width: 590px) {
    
    footer .footer-area {
        margin-top: 10px;
    }


}

