.corporates {
    width: 100%;
    background-color: $info;
    color:#ffffff;

    .corporates-section {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        
        .block {
            padding: 10px;
            height: auto !important;
            h3 {
                padding-bottom: 18px;
                font-size: 22px;
            }

            .corporates {
                padding-bottom: 20px;
                li {
                        display: flex;
                        flex-direction: column;
                        padding: 10px 0px;
                        a {
                           cursor: pointer;
                            text-decoration: none;
                            color: #ffffff;


                           &:hover {
                            color:$neutral;
                           }
                        }
                }
              
            }

        }

    }
}


/*----body------*/
body {
    background-color:$primary-color;
    font-size: 16px;
    line-height: 1.5;
    overflow-x: hidden;
}
body, header {
    margin: 0;
    padding: 0;
  }

body {
    padding-top: 120px;
}
/*----end of body----*/

.content-wrapper {
    padding: 60px 0px;
}
.wrapper {
width: 100%;
padding: 0 60px;
margin: 0 20px;
max-width: 1400px;
}
     
.section-title{ font-size: clamp(0.6em, 4vw, 2.1em);
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    line-height: normal;
    padding-bottom: 10px;
    
}

.with-line::after{
    display: block;
    margin-bottom: 14px;
    border-bottom: 2px solid red;
    width: 60px;
    height: 5px;
    content: "";    
}

p {
    padding-bottom: 20px;
}
.tbl-button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 5px;
  cursor: pointer;
}
.button {
  background-color: $info;
  border: none;
  color: white;
  padding: 15px 40px 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 5px;
  cursor: pointer;
  border:1px solid white;
//   transition: all 0.3s ease;

   &:hover {
    background-color: black;
    //   transform: translateX(6px);

   }

}
.button:hover::after {
      transform: translateX(8px);

}


@media only screen and (max-width: 1930px) {   
  
    
    .sections-title {
        font-size: clamp(0.6em, 4vw, 2.9em);
        padding-bottom: 20px;
    }
    
 
  
}
@media only screen and (max-width: 1880px) {   
    
     .studying .wrapper {
        max-width: 1600px !important;
     }
}


@media only screen and (max-width: 1780px) {    

  
    .wrapper{
        margin: 0px !important;
    }
    .studying .wrapper{
        padding: 0px 20px;
    }
}

@media only screen and (max-width: 1500px) {    
    .studying .wrapper {
        // margin: 0 30px;
        max-width: 1416px !important;
        background: pink;
    }    
 
    .sections-title {
        font-size: clamp(0.6em, 4vw, 2.5em);
        padding-bottom: 20px;
    }   
    .work-place,.study-permit,.Earn,.salary,.permanent,.placement {
     font-size: 25px;
     margin-top: 0em !important;
    }
    .block p{
     font-size: 24px;
     }
     .block{
        height: 350px;
     }
   
    
}
@media only screen and (max-width: 1468px) {

    .studying .wrapper {
        max-width: 1316px !important;
    }

}

@media only screen and (max-width: 1368px) {  

    .studying .wrapper{
        // margin: 0 30px;
        max-width: 1216px !important;
        background: pink;
        padding: 0 20px;    
        max-width: 1457px !important;
    }

   
  
    .sections-title {
        font-size: 12px;
        color:blue;
       }
       .block {
        height: 250px;
    }

    .work-place,.study-permit,.Earn,.salary,.permanent,.placement {
        font-size: 20px;
        padding-bottom: 0px !important;
       }
       .block p{
            font-size: 17px;
       }    


}
@media only screen and (max-width: 980px) {
 
    .sections-title {
        font-size: clamp(0.6em 2vw 1.4em);
    }

}  


@media only screen and (max-width: 900px) { 

   .wrapper {
        padding: 0px 30px;
    }

}
    

@media only screen and (max-width: 760px) { 

    .wrapper {
        padding: 0px 20px;
    }

    .corporates .corporates-section {
        grid-template-columns:repeat(auto-fit, minmax(214px, 1fr));

    }
    .corporates .corporates-section .block {
        padding: 0px;
        height: 300px !important;
    }


}

@media only screen and (max-width: 590px) { 

    .corporates .corporates-section {
        grid-template-columns:1fr;

    }

}

@media only screen and (max-width:300px) {

   .corporates .corporates-section .block {
    height:250px !important;
   }

   .corporates .corporates-section .block h3 {
    padding-bottom: 0px;
   }
   .corporates-section .block:nth-child(4) {
    margin-top: -10px;

   }

   .corporates .corporates-section .block .corporates li {
    padding: 5px 0px;
  }



}

@media only screen and (max-width:300px) {

    .corporates .corporates-section .block {
        height:288px !important;
    }


}

