.history {
    width: 100%;
    background-color: $info;
    color:$primary-color;

     .wrapper {
        display: grid;
         place-items: center;
        text-align: center;

        h5 {
         padding-bottom: 15px;
         color: $tertially-color;
        }
     }
}

@media only screen and  (max-width:650px) {

   .button {
      padding: 15px 20px;

   }


}