#mobile_nav {
    opacity: 0;
    visibility: hidden;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: opacity 0.5s ease 0s, visibility 0s ease 0.5s;
    transition: opacity 0.5s ease 0s, visibility 0s ease 0.5s;
    background-color: #002855;
}
.menu-open #mobile_nav {
    opacity: 1;
    -webkit-transition: opacity 0s ease 0s, visibility 0s ease 0s;
    transition: opacity 0s ease 0s, visibility 0s ease 0s;
    visibility: visible;
}

#mobile_nav .nav-scroller {
    overflow: auto;
    height: 100%;
    padding: 96px 0 30px 0;
    -webkit-perspective: 1200px;
    perspective: 1200px;
    top: 50%;
    position: relative;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

#mobile_nav nav {
    text-align: center;
    display: table;
    width: 100%;
    height: 100%;
    max-width: 450px;
    margin: 0 auto;
}


#mobile_nav nav>ul {
    height: 100%;
    margin: 0 auto;
    padding: 0;
    position: relative;
    opacity: 0.4;
    display: table-cell;
    vertical-align: middle;
    font-size: 0;
    -webkit-transform: translateY(-25%) rotateX(35deg);
    transform: translateY(-25%) rotateX(35deg);
    -webkit-transition: transform 0.5s ease 0s, opacity 0.5s ease 0s;
    transition: transform 0.5s ease 0s, opacity 0.5s ease 0s;
}
.menu-open #mobile_nav nav>ul {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
}
.sidemenu {
    margin: 0;
    padding: 0;
    list-style: none;
}

.get {
        position: relative;
    line-height: 40px;
    max-width: 136px;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    margin: 0 30px 0 0;
    text-align: center;
    background-color: #CFD8E1;
    color: #18244F;
    font-size: 14px;
    padding: 0px;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 4px;
    border-radius: 20px;
}


@media only screen and (max-width: 1100px) {
    #mobile_nav {
        display: block;
    }
        #mobile_nav .nav-scroller {
        padding-top: 88px;
    }

    .sidemenu li {
        position: relative;
    }
        #mobile_nav nav>ul>li {
        display: block;
        width: 100%;
        margin: 10px 0;
    }
        #mobile_nav nav>ul>li>a {
        color: #fff;
        display: inline-block;
        text-align: center;
        font-size: 16px;
        text-transform: capitalize;
        padding: 10px 0;
    }
    .get { margin-left: 31px;
    }     
    

}