.stand {
    width:100%;
    background-color: $primary-color;
    .wrapper {
        margin: 0 auto;
        color: $info;
        text-align: center;
    }
    
    .grid-history {
        display: grid;
        place-items: center;
        gap:20px;
        grid-template-columns: repeat(auto-fit, minmax(366px, 1fr));
        margin-top: 30px;

        .block-stand {
            width:50%;
            // background-color: rebeccapurple;
            display: flex;
            flex-direction: column;
            gap:10px;
            align-items: center;
        }

        .icon-stand {
            height: 46px;
            line-height: 46px;
            font-size: 46px;
            width:46px;
    
        }

        .caption {
            // font-size: 20px;
            font-size: clamp(0.6em, 4vw, 2.1em);
        }

    }

}

@media only screen and  (max-width:1100px) {

    .stand .grid-history {
            grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
            gap:15px;

    }
   

}

@media only screen and  (max-width:1000px) {

    .stand .grid-history {
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    }
}


@media only screen and  (max-width:760px) {


    .stand .grid-history {
        gap:0px;
        margin-top: 10px;
    }

    .stand .grid-history .block-stand {
        width: auto;
    }
 

}

@media only screen and (max-width: 590px) { 


    .stand .grid-history {
        grid-template-columns: 1fr;
    }



}

