.overlap {
    position: relative;
    // z-index: 1;
    width: 100%;
    background-image: url("https://ke.kcbgroup.com/images/banners/New_Product_Images/aboutus-hero.png");
    // position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 450px;
    background-position: center;
    left: 0px;

    &:before {
        content: "";
        position: absolute;
        inset: 0;
        background-color: lab(96.69% 0.67 0.22 / 0.692);
        opacity: 0.9; /* adjust until white looks #fcfcfc */
         pointer-events: none;

    }

  
    // height: 450px;
    .sustainability {
        font-size: 0px;
        margin: -60px 0 30px -60px;

        li {
            display: inline-block;
            vertical-align: top;
            padding: 60px 0px 0px 60px;
            width: 33.33%;
            
            .block {
                position: relative;
                color: #ffff;
                padding: 50px;
                background-color: blue;
                margin-top: -30px;

            }
        }
    }
}

.overlap .wrapper .text-area {

    max-height: 450px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    justify-content: center;
    max-width: 500px;
    
    position:absolute;
    // left: 30px;
    // height: 150px;
    // top:30px;
    // background: red;

}


@media only screen and (max-width: 900px) {  
    .overlap {
        background-size: contain;
    }  

    .wrapper {
        padding: 0px 20px;
    }
   
    p {
        padding-bottom: 15px;
    }
    .content-wrapper {
        padding: 40px 0px;
    }
    .button {
        padding:15px 20px;
    }
    

}

@media only screen and (max-width: 650px) {  

  .overlap .wrapper .text-area {
      padding:10px;
      left:20px;
   }

}

@media only screen and (max-width: 500px) {  

    .overlap {
        height: 60vh;
    }

    .overlap .wrapper .text-area {
        margin-top: 10px;
    }


}


@media only screen and (max-width:500px) {
   
   .overlap {
        min-height: auto;
        height: 29vh;
        background-size: cover;
    }

    .overlap .wrapper .text-area {
        left:10px;
    }
  

}


@media only screen and (max-width:500px) {

  .overlap {
    height:19vh;
  }

}

